# **Datasets Loading**

In [1]:
import pandas as pd   #importing pandas library 

#This includes the number of cases, death, and recoveries which are updated by country or region.
cwl = pd.read_csv('country_wise_latest.csv')

#Provides the number of confirmed cases, active, and recovered cases on a daily basis on a worldwide basis, plus geolocation and WHO region.
c19cc = pd.read_csv('covid_19_clean_complete.csv')

#Confirmed cases, deaths, recoveries etc., on a daily basis for all the countries of the world and the number of countries affected.
dw = pd.read_csv('day_wise.csv')

#An online resource with COVID-19 cases and statistics: total confirmed cases, deaths, recoveries, and by WHO region country/region on some dates.
fg = pd.read_csv('full_grouped.csv')

#Daily updates with COVID-19 stats ofUnites States county by county confirming new cases or deaths.
usacw = pd.read_csv('usa_county_wise.csv')

#COVID-19 total cases, deaths, recoveries and testing data by country/region worldwide.
wmd = pd.read_csv('worldometer_data.csv')

# **Preprocessing**
### **Data Describtion & Check for duplicates and missing values**
#### **country_wise_latest**

In [2]:
cwl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country/Region          187 non-null    object
 1   Confirmed               187 non-null    int64
 2   Deaths                  187 non-null    int64
 3   Recovered               187 non-null    int64
 4   Active                  187 non-null    int64
 5   New cases               187 non-null    int64
 6   New deaths              187 non-null    int64
 7   New recovered           187 non-null    int64
 8   Deaths / 100 Cases      187 non-null    float64
 9   Recovered / 100 Cases   187 non-null    float64
 10  Deaths / 100 Recovered  187 non-null    float64
 11  Confirmed last week     187 non-null    int64
 12  1 week change           187 non-null    int64
 13  1 week % increase       187 non-null    float64
 14  WHO Region              187 non-null    object
dtypes: float64(4), int64(9), object(2)
memory usage: 22.0+ KB

In [3]:
print(cwl.describe())
cwl.head()

          Confirmed         Deaths     Recovered        Active     New cases  \
count  1.870000e+02     187.000000  1.870000e+02  1.870000e+02    187.000000
mean   8.813094e+04    3497.518717  5.063148e+04  3.400194e+04   1222.957219
std    3.833187e+05   14100.002482  1.901882e+05  2.133262e+05   5710.374790
min    1.000000e+01       0.000000  0.000000e+00  0.000000e+00      0.000000
25%    1.114000e+03      18.500000  6.265000e+02  1.415000e+02      4.000000
50%    5.059000e+03     108.000000  2.815000e+03  1.600000e+03     49.000000
75%    4.046050e+04     734.000000  2.260600e+04  9.149000e+03    419.500000
max    4.290259e+06  148011.000000  1.846641e+06  2.816444e+06  56336.000000

        New deaths  New recovered  Deaths / 100 Cases  Recovered / 100 Cases  \
count   187.000000     187.000000          187.000000             187.000000
mean     28.957219     933.812834            3.019519              64.820535
std     120.037173    4197.719635            3.454302              26.287694
min       0.000000       0.000000            0.000000               0.000000
25%       0.000000       0.000000            0.945000              48.770000
50%       1.000000      22.000000            2.150000              71.320000
75%       6.000000     221.000000            3.875000              86.885000
max    1076.000000   33728.000000           28.560000             100.000000

       Deaths / 100 Recovered  Confirmed last week  1 week change  \
count                  187.00         1.870000e+02     187.000000
mean                      inf         7.868248e+04    9448.459893
std                       NaN         3.382737e+05   47491.127684
min                      0.00         1.000000e+01     -47.000000
25%                      1.45         1.051500e+03      49.000000
50%                      3.62         5.020000e+03     432.000000
75%                      6.44         3.708050e+04    3172.000000
max                       inf         3.834677e+06  455582.000000

       1 week % increase
count         187.000000
mean           13.606203
std            24.509838
min            -3.840000
25%             2.775000
50%             6.890000
75%            16.855000
max           226.320000

c:\Users\khale\AppData\Local\Programs\Python\Python313\Lib\site-packages\pandas\core\nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [4]:
print(cwl.duplicated().sum())   # Check for duplicates

0

In [5]:
print(f"{cwl.isnull().sum()} \n")   # Check for missing values

nullpercentage = cwl.isnull().mean() * 100 
nullpercentage = nullpercentage[nullpercentage > 0]
print(nullpercentage)

Country/Region            0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
New cases                 0
New deaths                0
New recovered             0
Deaths / 100 Cases        0
Recovered / 100 Cases     0
Deaths / 100 Recovered    0
Confirmed last week       0
1 week change             0
1 week % increase         0
WHO Region                0
dtype: int64

Series([], dtype: float64)

#### **covid_19_clean_complete**

In [6]:
c19cc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   WHO Region      49068 non-null  object
 1   Country/Region  49068 non-null  object
 2   Province/State  14664 non-null  object
 3   Lat             49068 non-null  float64
 4   Long            49068 non-null  float64
 5   Date            49068 non-null  object
 6   Confirmed       49068 non-null  int64
 7   Deaths          49068 non-null  int64
 8   Recovered       49068 non-null  int64
 9   Active          49068 non-null  int64
dtypes: float64(2), int64(4), object(4)
memory usage: 3.7+ MB

In [7]:
print(c19cc.describe())
c19cc.head()

                Lat          Long     Confirmed         Deaths     Recovered  \
count  49068.000000  49068.000000  4.906800e+04   49068.000000  4.906800e+04
mean      21.433730     23.528236  1.688490e+04     884.179160  7.915713e+03
std       24.950320     70.442740  1.273002e+05    6313.584411  5.480092e+04
min      -51.796300   -135.000000  0.000000e+00       0.000000  0.000000e+00
25%        7.873054    -15.310100  4.000000e+00       0.000000  0.000000e+00
50%       23.634500     21.745300  1.680000e+02       2.000000  2.900000e+01
75%       41.204380     80.771797  1.518250e+03      30.000000  6.660000e+02
max       71.706900    178.065000  4.290259e+06  148011.000000  1.846641e+06

             Active
count  4.906800e+04
mean   8.085012e+03
std    7.625890e+04
min   -1.400000e+01
25%    0.000000e+00
50%    2.600000e+01
75%    6.060000e+02
max    2.816444e+06

,WHO Region,Country/Region,Province/State,Lat,Long,Date,Confirmed,Deaths,Recovered,Active
0,Africa,Algeria,NaN,28.0339,1.6596,1/22/2020,0,0,0,0
1,Africa,Algeria,NaN,28.0339,1.6596,1/23/2020,0,0,0,0
2,Africa,Algeria,NaN,28.0339,1.6596,1/24/2020,0,0,0,0
3,Africa,Algeria,NaN,28.0339,1.6596,1/25/2020,0,0,0,0
4,Africa,Algeria,NaN,28.0339,1.6596,1/26/2020,0,0,0,0

In [8]:
print(c19cc.duplicated().sum())   # Check for duplicates

0

In [9]:
print(f"{c19cc.isnull().sum()} \n")   # Check for missing values

nullpercentage = c19cc.isnull().mean() * 100 
nullpercentage = nullpercentage[nullpercentage > 0]
print(nullpercentage)

WHO Region            0
Country/Region        0
Province/State    34404
Lat                   0
Long                  0
Date                  0
Confirmed             0
Deaths                0
Recovered             0
Active                0
dtype: int64

Province/State    70.114943
dtype: float64

#### **day_wise**

In [10]:
dw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    188 non-null    object
 1   Confirmed               188 non-null    int64
 2   Deaths                  188 non-null    int64
 3   Recovered               188 non-null    int64
 4   Active                  188 non-null    int64
 5   New cases               188 non-null    int64
 6   New deaths              188 non-null    int64
 7   New recovered           188 non-null    int64
 8   Deaths / 100 Cases      188 non-null    float64
 9   Recovered / 100 Cases   188 non-null    float64
 10  Deaths / 100 Recovered  188 non-null    float64
 11  No. of countries        188 non-null    int64
dtypes: float64(3), int64(8), object(1)
memory usage: 17.8+ KB

In [11]:
print(dw.describe())
dw.head()

          Confirmed         Deaths     Recovered        Active      New cases  \
count  1.880000e+02     188.000000  1.880000e+02  1.880000e+02     188.000000
mean   4.406960e+06  230770.760638  2.066001e+06  2.110188e+06   87771.021277
std    4.757988e+06  217929.094183  2.627976e+06  1.969670e+06   75295.293255
min    5.550000e+02      17.000000  2.800000e+01  5.100000e+02       0.000000
25%    1.121910e+05    3935.000000  6.044125e+04  5.864175e+04    5568.500000
50%    2.848733e+06  204190.000000  7.847840e+05  1.859759e+06   81114.000000
75%    7.422046e+06  418634.500000  3.416396e+06  3.587015e+06  131502.500000
max    1.648048e+07  654036.000000  9.468087e+06  6.358362e+06  282756.000000

        New deaths  New recovered  Deaths / 100 Cases  Recovered / 100 Cases  \
count   188.000000     188.000000          188.000000             188.000000
mean   3478.824468   50362.015957            4.860638              34.343936
std    2537.735652   56090.892479            1.579541              16.206159
min       0.000000       0.000000            2.040000               1.710000
25%     250.750000    2488.250000            3.510000              22.785000
50%    4116.000000   30991.500000            4.850000              35.680000
75%    5346.000000   79706.250000            6.297500              48.945000
max    9966.000000  284394.000000            7.180000              57.450000

       Deaths / 100 Recovered  No. of countries
count              188.000000        188.000000
mean                22.104521        144.351064
std                 22.568307         65.175979
min                  6.260000          6.000000
25%                  9.650000        101.250000
50%                 15.380000        184.000000
75%                 25.342500        187.000000
max                134.430000        187.000000

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
0,2020-01-22,555,17,28,510,0,0,0,3.06,5.05,60.71,6
1,2020-01-23,654,18,30,606,99,1,2,2.75,4.59,60.00,8
2,2020-01-24,941,26,36,879,287,8,6,2.76,3.83,72.22,9
3,2020-01-25,1434,42,39,1353,493,16,3,2.93,2.72,107.69,11
4,2020-01-26,2118,56,52,2010,684,14,13,2.64,2.46,107.69,13

In [12]:
print(dw.duplicated().sum())   # Check for duplicates

0

In [13]:
print(f"{dw.isnull().sum()} \n")   # Check for missing values

nullpercentage = dw.isnull().mean() * 100 
nullpercentage = nullpercentage[nullpercentage > 0]
print(nullpercentage)

Date                      0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
New cases                 0
New deaths                0
New recovered             0
Deaths / 100 Cases        0
Recovered / 100 Cases     0
Deaths / 100 Recovered    0
No. of countries          0
dtype: int64

Series([], dtype: float64)

#### **full_grouped**

In [14]:
fg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35156 entries, 0 to 35155
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            35156 non-null  object
 1   Country/Region  35156 non-null  object
 2   Confirmed       35156 non-null  int64
 3   Deaths          35156 non-null  int64
 4   Recovered       35156 non-null  int64
 5   Active          35156 non-null  int64
 6   New cases       35156 non-null  int64
 7   New deaths      35156 non-null  int64
 8   New recovered   35156 non-null  int64
 9   WHO Region      35156 non-null  object
dtypes: int64(7), object(3)
memory usage: 2.7+ MB

In [15]:
print(fg.describe())
fg.head()

          Confirmed         Deaths     Recovered        Active    New cases  \
count  3.515600e+04   35156.000000  3.515600e+04  3.515600e+04  35156.00000
mean   2.356663e+04    1234.068239  1.104813e+04  1.128443e+04    469.36375
std    1.499818e+05    7437.238354  6.454640e+04  8.997149e+04   3005.86754
min    0.000000e+00       0.000000  0.000000e+00 -2.000000e+00      0.00000
25%    1.000000e+00       0.000000  0.000000e+00  0.000000e+00      0.00000
50%    2.500000e+02       4.000000  3.300000e+01  8.500000e+01      2.00000
75%    3.640250e+03      78.250000  1.286250e+03  1.454000e+03     75.00000
max    4.290259e+06  148011.000000  1.846641e+06  2.816444e+06  77255.00000

         New deaths  New recovered
count  35156.000000   35156.000000
mean      18.603339     269.315593
std      115.706351    2068.063852
min    -1918.000000  -16298.000000
25%        0.000000       0.000000
50%        0.000000       0.000000
75%        1.000000      20.000000
max     3887.000000  140050.000000

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
0,2020-01-22,Afghanistan,0,0,0,0,0,0,0,Eastern Mediterranean
1,2020-01-22,Albania,0,0,0,0,0,0,0,Europe
2,2020-01-22,Algeria,0,0,0,0,0,0,0,Africa
3,2020-01-22,Andorra,0,0,0,0,0,0,0,Europe
4,2020-01-22,Angola,0,0,0,0,0,0,0,Africa

In [16]:
print(fg.duplicated().sum())   # Check for duplicates

0

In [17]:
print(f"{fg.isnull().sum()} \n")   # Check for missing values

nullpercentage = fg.isnull().mean() * 100 
nullpercentage = nullpercentage[nullpercentage > 0]
print(nullpercentage)

Date              0
Country/Region    0
Confirmed         0
Deaths            0
Recovered         0
Active            0
New cases         0
New deaths        0
New recovered     0
WHO Region        0
dtype: int64

Series([], dtype: float64)

#### **usa_county_wise**

In [18]:
usacw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 627920 entries, 0 to 627919
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   UID             627920 non-null  int64
 1   iso2            627920 non-null  object
 2   iso3            627920 non-null  object
 3   code3           627920 non-null  int64
 4   FIPS            626040 non-null  float64
 5   Admin2          626792 non-null  object
 6   Province_State  627920 non-null  object
 7   Country_Region  627920 non-null  object
 8   Lat             627920 non-null  float64
 9   Long_           627920 non-null  float64
 10  Combined_Key    627920 non-null  object
 11  Date            627920 non-null  object
 12  Confirmed       627920 non-null  int64
 13  Deaths          627920 non-null  int64
dtypes: float64(3), int64(4), object(7)
memory usage: 67.1+ MB

In [19]:
print(usacw.describe())
usacw.head()

                UID          code3           FIPS            Lat  \
count  6.279200e+05  627920.000000  626040.000000  627920.000000
mean   8.342958e+07     834.491617   33061.684685      36.707212
std    4.314702e+06      36.492620   18636.156825       9.061572
min    1.600000e+01      16.000000      60.000000     -14.271000
25%    8.401811e+07     840.000000   19079.000000      33.895587
50%    8.402921e+07     840.000000   31014.000000      38.002344
75%    8.404612e+07     840.000000   47131.000000      41.573069
max    8.410000e+07     850.000000   99999.000000      69.314792

               Long_      Confirmed         Deaths
count  627920.000000  627920.000000  627920.000000
mean      -88.601474     357.284285      17.536328
std        21.715747    3487.282694     300.991466
min      -174.159600       0.000000       0.000000
25%       -97.790204       0.000000       0.000000
50%       -89.486710       4.000000       0.000000
75%       -82.311265      63.000000       1.000000
max       145.673900  224051.000000   23500.000000

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271000,-170.132000,"American Samoa, US",1/22/20,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.444300,144.793700,"Guam, US",1/22/20,0,0
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.097900,145.673900,"Northern Mariana Islands, US",1/22/20,0,0
3,63072001,PR,PRI,630,72001.0,Adjuntas,Puerto Rico,US,18.180117,-66.754367,"Adjuntas, Puerto Rico, US",1/22/20,0,0
4,63072003,PR,PRI,630,72003.0,Aguada,Puerto Rico,US,18.360255,-67.175131,"Aguada, Puerto Rico, US",1/22/20,0,0

In [20]:
print(usacw.duplicated().sum())   # Check for duplicates

0

In [21]:
print(f"{usacw.isnull().sum()} \n")   # Check for missing values

nullpercentage = usacw.isnull().mean() * 100 
nullpercentage = nullpercentage[nullpercentage > 0]
print(nullpercentage)

UID                  0
iso2                 0
iso3                 0
code3                0
FIPS              1880
Admin2            1128
Province_State       0
Country_Region       0
Lat                  0
Long_                0
Combined_Key         0
Date                 0
Confirmed            0
Deaths               0
dtype: int64

FIPS      0.299401
Admin2    0.179641
dtype: float64

#### **worldometer_data**

In [22]:
wmd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country/Region    209 non-null    object
 1   Continent         208 non-null    object
 2   Population        208 non-null    float64
 3   TotalCases        209 non-null    int64
 4   NewCases          4 non-null      float64
 5   TotalDeaths       188 non-null    float64
 6   NewDeaths         3 non-null      float64
 7   TotalRecovered    205 non-null    float64
 8   NewRecovered      3 non-null      float64
 9   ActiveCases       205 non-null    float64
 10  Serious,Critical  122 non-null    float64
 11  Tot Cases/1M pop  208 non-null    float64
 12  Deaths/1M pop     187 non-null    float64
 13  TotalTests        191 non-null    float64
 14  Tests/1M pop      191 non-null    float64
 15  WHO Region        184 non-null    object
dtypes: float64(12), int64(1), object(3)
memory usage: 26.3+ KB

In [23]:
print(wmd.describe())
wmd.head()

         Population    TotalCases     NewCases    TotalDeaths   NewDeaths  \
count  2.080000e+02  2.090000e+02     4.000000     188.000000    3.000000
mean   3.041549e+07  9.171850e+04  1980.500000    3792.590426  300.000000
std    1.047661e+08  4.325867e+05  3129.611424   15487.184877  451.199512
min    8.010000e+02  1.000000e+01    20.000000       1.000000    1.000000
25%    9.663140e+05  7.120000e+02    27.500000      22.000000   40.500000
50%    7.041972e+06  4.491000e+03   656.000000     113.000000   80.000000
75%    2.575614e+07  3.689600e+04  2609.000000     786.000000  449.500000
max    1.381345e+09  5.032179e+06  6590.000000  162804.000000  819.000000

       TotalRecovered  NewRecovered   ActiveCases  Serious,Critical  \
count    2.050000e+02      3.000000  2.050000e+02        122.000000
mean     5.887898e+04   1706.000000  2.766433e+04        534.393443
std      2.566984e+05   2154.779803  1.746327e+05       2047.518613
min      7.000000e+00     42.000000  0.000000e+00          1.000000
25%      3.340000e+02    489.000000  8.600000e+01          3.250000
50%      2.178000e+03    936.000000  8.990000e+02         27.500000
75%      2.055300e+04   2538.000000  7.124000e+03        160.250000
max      2.576668e+06   4140.000000  2.292707e+06      18296.000000

       Tot Cases/1M pop  Deaths/1M pop    TotalTests   Tests/1M pop
count        208.000000     187.000000  1.910000e+02     191.000000
mean        3196.024038      98.681176  1.402405e+06   83959.366492
std         5191.986457     174.956862  5.553367e+06  152730.591240
min            3.000000       0.080000  6.100000e+01       4.000000
25%          282.000000       6.000000  2.575200e+04    8956.500000
50%         1015.000000      29.000000  1.357020e+05   32585.000000
75%         3841.750000      98.000000  7.576960e+05   92154.500000
max        39922.000000    1238.000000  6.313960e+07  995282.000000

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa

In [24]:
print(fg.duplicated().sum())   # Check for duplicates

0

In [25]:
print(f"{wmd.isnull().sum()} \n")   # Check for missing values

nullpercentage = wmd.isnull().mean() * 100 
nullpercentage = nullpercentage[nullpercentage > 0]
print(nullpercentage)

Country/Region        0
Continent             1
Population            1
TotalCases            0
NewCases            205
TotalDeaths          21
NewDeaths           206
TotalRecovered        4
NewRecovered        206
ActiveCases           4
Serious,Critical     87
Tot Cases/1M pop      1
Deaths/1M pop        22
TotalTests           18
Tests/1M pop         18
WHO Region           25
dtype: int64

Continent            0.478469
Population           0.478469
NewCases            98.086124
TotalDeaths         10.047847
NewDeaths           98.564593
TotalRecovered       1.913876
NewRecovered        98.564593
ActiveCases          1.913876
Serious,Critical    41.626794
Tot Cases/1M pop     0.478469
Deaths/1M pop       10.526316
TotalTests           8.612440
Tests/1M pop         8.612440
WHO Region          11.961722
dtype: float64

### **Data Cleaning**

***>>> country_wise_latest:***  *NO preprocessing needed.*

***>>> covid_19_clean_complete:***  *Change date to datetime && Missing values handling.*

***>>> day_wise:***  *Change date to datetime.*

***>>> full_grouped:***  *Change date to datetime.*

***>>> usa_county_wise:***  *Change date to datetime && Missing values handling.*

***>>> worldometer_data:***  *Missing values handling.*

#### **Changing date to datetime**

In [26]:
# covid_19_clean_complete
c19cc.Date = pd.to_datetime(c19cc.Date)

# day_wise
dw.Date = pd.to_datetime(dw.Date)

# full_grouped
fg.Date = pd.to_datetime(fg.Date)

# usa_county_wise
usacw.Date = pd.to_datetime(usacw.Date)

C:\Users\khale\AppData\Local\Temp\ipykernel_23944\2052994064.py:11: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  usacw.Date = pd.to_datetime(usacw.Date)

#### **Missing values handling**

In [27]:
# covid_19_clean_complete

# Drop Province/State Column as it has 70% missing values
c19cc.drop(['Province/State'], axis=1, inplace=True)

In [28]:
# usa_county_wise

# Drop rows with missing values
usacw.dropna(subset=['FIPS', 'Admin2'], inplace=True)

In [29]:
# worldometer_data

# Fill missing values with median
wmd['Serious,Critical'] = wmd['Serious,Critical'].fillna(wmd['Serious,Critical'].median)

# Replace missing values in these columns with 0
wmd.fillna({'NewCases':0, 'NewDeaths':0, 'NewRecovered':0}, inplace=True)

# Fill missing values with 'Unkown
wmd['WHO Region'] = wmd['WHO Region'].fillna('Unknown')

# Drop rows with missing values
wmd.dropna(inplace=True)

In [30]:
print(f"{cwl.isnull().sum()} \n")

print(f"{c19cc.isnull().sum()} \n")

print(f"{dw.isnull().sum()} \n")

print(f"{fg.isnull().sum()} \n")

print(f"{usacw.isnull().sum()} \n")

print(f"{wmd.isnull().sum()} \n")

Country/Region            0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
New cases                 0
New deaths                0
New recovered             0
Deaths / 100 Cases        0
Recovered / 100 Cases     0
Deaths / 100 Recovered    0
Confirmed last week       0
1 week change             0
1 week % increase         0
WHO Region                0
dtype: int64

WHO Region        0
Country/Region    0
Lat               0
Long              0
Date              0
Confirmed         0
Deaths            0
Recovered         0
Active            0
dtype: int64

Date                      0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
New cases                 0
New deaths                0
New recovered             0
Deaths / 100 Cases        0
Recovered / 100 Cases     0
Deaths / 100 Recovered    0
No. of countries          0
dtype: int64

Date              0
Country/Region    0
Confirmed         0
Deaths            0
Recovered         0
Active            0
New cases         0
New deaths        0
New recovered     0
WHO Region        0
dtype: int64

UID               0
iso2              0
iso3              0
code3             0
FIPS              0
Admin2            0
Province_State    0
Country_Region    0
Lat               0
Long_             0
Combined_Key      0
Date              0
Confirmed         0
Deaths            0
dtype: int64

Country/Region      0
Continent           0
Population          0
TotalCases          0
NewCases            0
TotalDeaths         0
NewDeaths           0
TotalRecovered      0
NewRecovered        0
ActiveCases         0
Serious,Critical    0
Tot Cases/1M pop    0
Deaths/1M pop       0
TotalTests          0
Tests/1M pop        0
WHO Region          0
dtype: int64

### **Grouping and Sorting**

In [31]:
# worldometer_data

# reordering the columns 
cols = list(wmd.columns)
cols.remove('WHO Region')
cols.insert(1, 'WHO Region')
wmd = wmd[cols]

# Group by 'WHO Region' and sort within each group by 'Country/Region'
cols = list(wmd.columns)
cols.remove('WHO Region')
wmd = (wmd.groupby('WHO Region', group_keys=True).apply(lambda x: x[cols].sort_values(by='Country/Region')))

print(f"{wmd} \n")
wmd.head()

                   Country/Region Continent   Population  TotalCases  \
WHO Region
Africa         134         Angola    Africa   32956300.0        1483
               128          Benin    Africa   12151976.0        1936
               152       Botswana    Africa    2356075.0         804
               164        Burundi    Africa   11922216.0         395
               116     Cabo Verde    Africa     556581.0        2734
...                           ...       ...          ...         ...
WesternPacific 21     Philippines      Asia  109722719.0      119460
               72        S. Korea      Asia   51273732.0       14519
               41       Singapore      Asia    5854932.0       54555
               162         Taiwan      Asia   23821199.0         477
               154        Vietnam      Asia   97425470.0         747

                    NewCases  TotalDeaths  NewDeaths  TotalRecovered  \
WHO Region
Africa         134       0.0         64.0        0.0           520.0
               128       0.0         38.0        0.0          1600.0
               152       0.0          2.0        0.0            63.0
               164       0.0          1.0        0.0           304.0
               116       0.0         27.0        0.0          2010.0
...                      ...          ...        ...             ...
WesternPacific 21        0.0       2150.0        0.0         66837.0
               72       20.0        303.0        1.0         13543.0
               41        0.0         27.0        0.0         48031.0
               162       0.0          7.0        0.0           443.0
               154       0.0         10.0        0.0           392.0

                    NewRecovered  ActiveCases  \
WHO Region
Africa         134           0.0        899.0
               128           0.0        298.0
               152           0.0        739.0
               164           0.0         90.0
               116           0.0        697.0
...                          ...          ...
WesternPacific 21            0.0      50473.0
               72           42.0        673.0
               41            0.0       6497.0
               162           0.0         27.0
               154           0.0        345.0

                                                     Serious,Critical  \
WHO Region
Africa         134                                               20.0
               128                                                1.0
               152                                                1.0
               164  <bound method Series.median of 0      18296.0\...
               116  <bound method Series.median of 0      18296.0\...
...                                                               ...
WesternPacific 21                                               239.0
               72                                                18.0
               41   <bound method Series.median of 0      18296.0\...
               162  <bound method Series.median of 0      18296.0\...
               154  <bound method Series.median of 0      18296.0\...

                    Tot Cases/1M pop  Deaths/1M pop  TotalTests  Tests/1M pop
WHO Region
Africa         134              45.0           2.00     64747.0        1965.0
               128             159.0           3.00     93677.0        7709.0
               152             341.0           0.80     68423.0       29041.0
               164              33.0           0.08     15614.0        1310.0
               116            4912.0          49.00     61633.0      110735.0
...                              ...            ...         ...           ...
WesternPacific 21             1089.0          20.00   1669996.0       15220.0
               72              283.0           6.00   1613652.0       31471.0
               41             9318.0           5.00   1474372.0      251817.0
               162              20.0           0.30     82737.0        3473.0
               154               8.0           0.10    482456.0        4952.0

[169 rows x 15 columns]

C:\Users\khale\AppData\Local\Temp\ipykernel_23944\323191353.py:12: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  wmd = (wmd.groupby('WHO Region', group_keys=True).apply(lambda x: x[cols].sort_values(by='Country/Region')))

               Country/Region Continent  Population  TotalCases  NewCases  \
WHO Region
Africa     134         Angola    Africa  32956300.0        1483       0.0
           128          Benin    Africa  12151976.0        1936       0.0
           152       Botswana    Africa   2356075.0         804       0.0
           164        Burundi    Africa  11922216.0         395       0.0
           116     Cabo Verde    Africa    556581.0        2734       0.0

                TotalDeaths  NewDeaths  TotalRecovered  NewRecovered  \
WHO Region
Africa     134         64.0        0.0           520.0           0.0
           128         38.0        0.0          1600.0           0.0
           152          2.0        0.0            63.0           0.0
           164          1.0        0.0           304.0           0.0
           116         27.0        0.0          2010.0           0.0

                ActiveCases  \
WHO Region
Africa     134        899.0
           128        298.0
           152        739.0
           164         90.0
           116        697.0

                                                 Serious,Critical  \
WHO Region
Africa     134                                               20.0
           128                                                1.0
           152                                                1.0
           164  <bound method Series.median of 0      18296.0\...
           116  <bound method Series.median of 0      18296.0\...

                Tot Cases/1M pop  Deaths/1M pop  TotalTests  Tests/1M pop
WHO Region
Africa     134              45.0           2.00     64747.0        1965.0
           128             159.0           3.00     93677.0        7709.0
           152             341.0           0.80     68423.0       29041.0
           164              33.0           0.08     15614.0        1310.0
           116            4912.0          49.00     61633.0      110735.0